<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Example: </h2>
<ul>
  <li>
    <button type="button" class="btn btn-primary"
      tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
      (click)="throwError();">
      Throw Error
    </button>
  </li>
  <li>
    <button type="button" class="btn btn-primary"
      tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
      (click)="throwHandledError();">
      Throw Handled Error
    </button>
  </li>
</ul>

<router-outlet></router-outlet>
